
footer
{
  position: relative;
  // float: right;
  top:750px;
  background-color: black;
  width: 1533px;
  height: 75px;
  right: 0px;
  position: fixed;


}
h1
{
  color:  #FFBF00;
  float: right;
  padding-right: 20px;
  font-size: 24px;
}
a
{
  float: left;
  padding-top: 20px;
  padding-left: 35px;
  top: 500px;
  color:  #FFBF00;
}