h1
{
    text-align: center;
    color: blue;
    font-style: italic;
}

img
{
    float: left;
    top: 0px;
    position: absolute;
    width: 100px;
    height: 100px;
}

a
{
    float: right;
    top: 30px;
    right: 100px;
    position: absolute;
    font-size: 22px;
    color:blue;
    text-decoration: none

}
header
{
    background-color: black;
    height: 100px;
    position: absolute;
    top: 0px;
    width: 1535px;
    left: 0px;
    position: fixed;
}
.dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}